/* General Styles */
body {
    margin: 0;
    font-family: 'Acme', Arial, sans-serif;
    color: #333;
}

/* Página principal */
.main-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('imagenes/fondo.jpg') no-repeat center center/cover;
}


.background-overlay {
    background: rgba(0, 0, 0, 0); /* Transparente */
}


.main-content {
    position: relative;
    z-index: 2;
    color: #fff;
    margin-top: 50px; /* Ajusta el valor para mover hacia abajo */
    text-align: center;
}


.main-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Estilo de los botones */
.btn {
    display: inline-block;
    padding: 10px 25px;
    font-size: 1.2rem;
    color: #000; /* Texto negro */
    text-decoration: none;
    background-color: transparent; /* Fondo transparente */
    border: 2px solid #000; /* Borde negro */
    border-radius: 25px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #000; /* Fondo negro al pasar el cursor */
    color: #fff; /* Texto blanco al pasar el cursor */
    transform: scale(1.05); /* Ligeramente más grande */
}

/* Encabezado principal */
.main-header {
    text-align: center;
    background-color: #fff2d8;
    color: #744bc3;
    padding: 20px 0;
    margin-bottom: 20px;
}

.main-header h1 {
    font-size: 2.5rem;
}

/* Sección "Sobre Mí" */
.about-section {
    padding: 40px 20px;
    text-align: center;
}

.about-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

/* Galería de Proyectos */
.galeria h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: #333;
}

.container {
    columns: 3 320px;
    column-gap: 30px;
}

.box {
    position: relative;
    padding-bottom: 0px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000000b2;
    width: 100%;
    height: 0%;
    border-radius: 3px;
    transition: .5s ease;
    overflow: hidden;
}

.overlay h2 {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.box:hover .overlay {
    height: 100%;
    cursor: pointer;
}

/* Botón de regreso */
.back-container {
    text-align: center;
    margin: 20px 0;
}
